/* ---------- S0. Universal-ish ---------- */

* {
    box-sizing: border-box;
}

body {
    color: #222;
    margin: 0;
    height: 100%;
    font-size: 16px;
    font-family: 'Manrope', sans-serif;
    background: rgba(219, 215, 210, 0.3);
    background: #F3F2F5;
}

.section-container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 70%;
}

.section-title {
    font-size: 1em;
    font-weight: 700;
    color: #222;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.2em;
}

p {
    color: #555;
}

::selection {
    background-color: #ffcd42;
    color: #333;
}


/* ---------- Buttons ---------- */
.btn {
    margin-right: 1.5rem;
    display: inline-block;
    padding: 0.75rem 1.9rem;
    border-radius: 30px;
    transition: 0.3s;
}

.btn-colored-solid {
    background: #ffcd42;
    color: #000 !important;
}

.btn-colored-solid:hover {
    background-color: #ffd35c;
}

.btn-blackish-solid {
    background: #333;
}

.btn-blackish-solid:hover {
    background: #444;
}

.btn-blackish-outline {
    background: transparent;
    border: 1px solid #333;
    color: #333;
}

.btn-white-outline {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
}




/* ---------- S1. Header section ---------- */

.logo {
    color: #333333;
}

header {
    min-height: 75px;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto;
    width: 70%;
    z-index: 10;
    font-weight: bolder;
}

.nav #logo img {
    display: block;
    width: 40px;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu>li {
    margin: 0 0.8rem;
    overflow: hidden;
}

.nav-link {
    color: #555;
    text-decoration: none;
    font-size: 1.05em;
    font-weight: 700;
}

.fa {
    margin: 0 0 0 5px;
    font-size: 0.8em;
}

.nav-link:hover {
    color: #000000;
    text-decoration: underline;
}

.nav-link:active {
    color: #000000;
    text-decoration: underline;
}

/*Container for menu button  */
.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}


/*  Creating the menu button */
.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #333333;
    position: absolute;
    height: 6px;
    width: 32px;
    border-radius: 3px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

/*  Adding Functionality to the Hamburger Menu with CSS  */
#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(45deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    /*  transforms the hamburger icon into a cross  */
    transform: rotate(-45deg);
}





/* ---------- S2. Hero section ---------- */

.hero-section .left-section {
    flex: 0.5;
    padding: 20px;
    height: max-content;
    width: 100%;

    /* border: 1px solid yellow; */
}

.hero-section .right-section {
    display: flex;
    flex: 0.5;
    justify-content: center;

    /* border: 1px solid black; */
}

.hero-section .right-section img {
    max-width: 100%;
    height: auto;
    filter: grayscale(75%);
}

.left-section h1 {
    margin: 0;
    text-transform: uppercase;
}

.left-section h2 {
    color: #444;
    margin: 3px 0;
}

.left-section p:last-of-type {
    font-size: 1.1em;
    line-height: 1.6;
    margin-top: 40px;
    margin-bottom: 30px;
}

.hero-section .left-section a {
    color: #fff;
    text-decoration: none;
}

.hero-section .left-section a:hover {
    text-decoration: underline;
}





/* ---------- S3. About section ---------- */

.about-section {
    display: flex;
    justify-content: center;

    background-color: #fff;

    /* border: 1px solid red; */
}

.about-section>div {
    display: flex;
    align-items: center;
    gap: 0.5em;
    width: 70%;
    margin: 30px auto;

}

.about-section .more-info-section {
    flex: 0.4;
    padding: 30px;

    height: max-content;
    width: 100%;

    /* border: 1px solid #e5e5e5; */
    border-radius: 20px;
}


.about-section .ux-section {
    flex: 0.3;
    padding: 20px;

    height: max-content;
    width: 100%;

    border: 1px solid #e5e5e5;
    border-radius: 20px;

    /* border: 1px solid yellow; */
}

.about-section .dev-section {
    /* display: flex; */
    flex: 0.3;
    justify-content: center;
    padding: 20px;

    height: max-content;
    width: 100%;

    border: 1px solid #e5e5e5;
    border-radius: 20px;

    /* border: 1px solid red; */
}





/* Allowing for responsiveness by CSS Media Queries */
@media (max-width: 700px) {

    /* (-) Making [Universal-ish] responsive */
    .section-container {
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        width: 90%;
    }


    /* (A) Making the navbar responsive */
    .menu-button-container {
        display: flex;
    }

    .menu {
        position: absolute;
        top: 55px;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        background: #F3F2F5;
        z-index: 100;
    }

    #menu-toggle~.menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
    }

    .menu>li:first-child {
        border-top: 1px solid #e5e5e5;
    }

    #menu-toggle:checked~.menu li {
        border-bottom: 1px solid #e5e5e5;
        height: fit-content;
        padding: 0.8em;
    }

    #menu-toggle:checked~.menu:last-child {
        border-top: 1px solid #e5e5e5;
    }

    #menu-toggle:checked~.menu li a:hover {
        color: #000000;
    }

    .menu>li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: #222222;

    }


    /* (B) Making hero section responsive */
    .hero-section .section-container {
        flex-direction: column-reverse;
    }


}